
.abtcontainer{
    height: 350px;
    width: auto;
    background-color:  lightblue ;
    padding: 25px;
    margin: 50px;
    display: flex;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.67);
}
.image{
    object-fit: contain;
    height:auto;
    margin-left: auto;
    max-width: 100%;
    filter:  drop-shadow(5px 5px 10px);
}
.innercontainer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.innercontainer h1 {
    font-size: 2.5rem; 
    font-weight: bold; 
    padding-top: 20px;
    color: #333; 
}
.innercontainer p {
    font-size: 1rem;
    line-height: 2.5; 
    bottom: 0;
    color: #666; 
    margin-top: 30px; 
}
.para{
    font-size: 3.5rem;
    font-weight: bolder;
    letter-spacing: 2px;
    text-align: center;
}